<configuration scan="true" scanPeriod=" 5 seconds">

	<jmxConfigurator />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<root level="WARN">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>